<footer class="pt-4 mt-md-5 pt-md-5 border-top fixed-bottom px-3" style="background: linear-gradient(0deg,#bde0fe ,transparent)">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">
                ForeCasted 2022 ®.
            </small>
        </div>

        <div class="col-6 col-md">
            <h5>About Me</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a href="#" class="link-secondary text-decoration-none">Thing 1</a>
                </li>
                <li class="mb-1">
                    <a href="#" class="link-secondary text-decoration-none">Thing 2</a>
                </li>
                <li class="mb-1">
                    <a href="#" class="link-secondary text-decoration-none">Thing 3</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>Contact Me</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a href="#" class="link-secondary text-decoration-none">Thingy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!--JQuery-->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

<!--SweetAlert2-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Card Weather-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js'></script>
<script src="./javascripts/card-weather.js"></script>
<script src="./javascripts/city.js"></script>
<script src="./javascripts/carder.js"></script>

<!--SweetAlert2 Functions-->
<script src="./javascripts/swal-index.js"></script>