<nav class="navbar navbar-expand-lg navbar-light px-3" style="">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ForeCasted
        <img height="100" width="100" class="img-fluid" src="images/forecasted.png" alt="forecasted olgo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://openweathermap.org">Weather API</a>
          </li>
        </ul>
        <form class="d-flex">
          
          <a href="https://github.com/PauloAstorga" class="btn btn-dark" type="submit">My GitHub</a>
        </form>
      </div>
    </div>
</nav>